.box-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* Adjust the minimum size of the grid items */
  gap: 20px;
}

.box-item {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.box-item img {
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  width: 280px; /* Adjust as needed */
  height: 280px; /* Adjust as needed */
  object-fit: cover;
}

.box-item button {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  background-color: #636665;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.box-item label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
  font-weight: bold;
}

.box-item input[type="number"],
.box-item select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.box-item button {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.box-item button:hover {
  background-color: gray;
}

.box-item p {
  font-family: 'Open Sans', sans-serif;
}


.box-form label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: left;
  font-weight: bold;
}

/* Submit button */
.box-form button {
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box-form button:hover {
  background-color: grey;
}

.box-form input {
  width: 100%;
  padding: 5px;
  margin: 2.5px;
  box-sizing: border-box;
}

.form-container {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  width: 33.33%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto; /* Auto margin to center horizontally */
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
}