.box-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* Adjust the minimum size of the grid items */
  gap: 20px;
}

.box-item {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.box-item img {
  width: 280px; /* Adjust as needed */
  height: 280px; /* Adjust as needed */
  object-fit: cover;
}

.box-item label {
  display: block;
  margin-top: 10px;
}

.box-item input[type="number"],
.box-item select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.box-item button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.box-item button:hover {
  background-color: #0056b3;
}