/* Profile container */
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.profile {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Profile title */
  .profile h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Profile information */
  .profile p {
    margin-bottom: 10px;
  }
  

  .form {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form labels */
  .form label {
    margin: 5px;
    display: block;
    margin-bottom: 10px;
  }
  
  /* Form inputs */
  .form input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Submit button */
  .form button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: gray;
  }